$sidebar_width: 4.875rem;
$sidebar_navbar_width: $sidebar_width + 2.375rem;
$sidebar_active_width: 16.875rem;
$sidebar_active_navbar_width: $sidebar_active_width + 2.375rem;

$pd-font-family: 'Poppins';
$pd-day-today-color: #004b66;
$pd-day-selected-bg: #4B94BE;
$pd-day-selected-shadow: #4B94BE;
$pd-day-hover-bg: #122C32;
$pd-day-bg: #F0F8FB;